@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
padding: 0;
margin: 0;
}
:root {
--primary-color: #3c7bf6;
--secondry-color: #020428;
--accent-color: #e58924;
--primary-font: "League Spartan", sans-serif;
--secondary-font: "Rubik", sans-serif;
}

.rsth1-500-error-section {
    padding: 5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rsth1-500-error-section img {
    max-width: 70%;
    align-items: center;
    height: auto;
}

.rsth1-500-error-section .btn {
    padding: 10px 70px 10px 70px;
    font-family: var(--secondary-font);
    transition: background-color 0.3s ease;
    width: max-content;
}


@media (max-width: 768px) {
    .rsth1-500-error-section img {
        max-width: 100%;
        align-items: center;
        height: auto;
    }
    .rsth1-500-error-section .btn {
        padding: 10px 40px 10px 40px;
        font-size: 10px;
        transition: background-color 0.3s ease;
        font-family: var(--secondary-font);
        width: max-content;
    }
}