body {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url('/assets/images/contact\ hero.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 11rem 5rem;
    border-radius: 20px;
    margin: 30px 110px 30px 110px;
    text-align: start;
    color: white;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.breadcrumb {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
}

.breadcrumb i {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1rem;
}

@media (max-width: 1400px) {
    .hero {
        padding: 5rem 2rem;
        margin: 15px 20px 15px 20px;
    }
    .hero h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    .breadcrumb {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 1.2rem;
    }
    
    .breadcrumb i {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        font-size: 0.8rem;
    }
    
}

@media (max-width: 480px) {
    .hero {
        padding: 3rem 1rem;
        margin: 10px 15px 10px 15px;
    }
    .hero h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .breadcrumb {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 0.8rem;
    }
    
    .breadcrumb i {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        font-size: 0.7rem;
    }
    
}

.get-in-touch-container {
    max-width: 1330px;
    margin: 40px auto;
    padding: 20px;
  }
  
  .get-in-touch-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .get-in-touch-col {
    flex-basis: 50%;
    margin: 20px;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .get-in-touch-col-2 {
    margin: 10px;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .location {
    margin-top: 20px;
  }
  
  .icon-wrap {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 0.1rem;
  }
  
  .icon-wrap i {
    font-size: 20px;
    background-color: #007bff;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
  }
  
  .icon-font{
    font-size: 1.2rem;
  }
  
  .map {
    margin-top: 20px;
    height: 200px;
    border: 1px solid #ddd;
  }
  
  form {
    padding: 60px;
    border-radius: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-font{
    font-size: 1rem;
    font-weight: 800;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  h2 {
    color: #00698f;
  }
  
  p {
    color: #ff9900;
  }
  
  /* Mobile Responsive */
  @media only screen and (max-width: 768px) {
    .get-in-touch-container {
      max-width: 100%;
      margin: 20px auto;
      padding: 10px;
    }
    
    .get-in-touch-row {
      flex-wrap: wrap;
    }
    
    .get-in-touch-col {
      flex-basis: 100%;
      margin: 10px;
      font-size: 1rem;
    }
    
    .get-in-touch-col-2 {
      margin: 10px;
      font-size: 1rem;
    }
    
    .map {
      height: 150px;
    }
    
    form {
      padding: 30px;
    }
    
    input[type="text"], input[type="email"], input[type="tel"] {
      padding: 5px;
      margin-bottom: 10px;
    }
    
    textarea {
      padding: 5px;
      margin-bottom: 10px;
    }
    
    input[type="submit"] {
      padding: 5px 10px;
    }
  }
  
  /* Tablet Responsive */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .get-in-touch-container {
      max-width: 90%;
      margin: 30px auto;
      padding: 15px;
    }
    
    .get-in-touch-row {
      flex-wrap: wrap;
    }
    
    .get-in-touch-col {
      flex-basis: 60%;
      margin: 15px;
      font-size: 1.8rem;
    }
    
    .get-in-touch-col-2 {
      margin: 15px;
      font-size: 1.2rem;
    }
    
    .map {
      height: 180px;
    }
    
    form {
      padding: 40px;
    }
    
    input[type="text"], input[type="email"], input[type="tel"] {
      padding: 8px;}
    }