footer {
    background-color: #020428;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

footer2 {
    background-color: #020428;
    padding: 20px;
    display: flex;
    color: #fff;
    justify-content: space-between;
  }
  
  footer .row {
    margin-bottom: 20px;
  }
  
  footer .col-md-3 img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  footer .col-md-3 p {
    color: #fff;
    margin-bottom: 20px;
  }
  
  footer .col-md-12 h5 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  footer .col-md-12 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer .col-md-12 ul li {
    margin-bottom: 10px;
  }
  
  footer .col-md-12 ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer .col-md-12 ul li i {
    color: #fff;
    margin-right: 10px;
  }
  
  footer .row hr {
    border-color: #fff;
    margin: 20px 0;
  }
  
  footer .col-md-6 p {
    color: #fff;
    margin-bottom: 10px;
  }
  
  footer .col-md-6 a {
    color: #fff;
    text-decoration: none;
  }
  
  footer .col-md-6 a i {
    color: #fff;
  }