@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #3c7bf6;
  --secondry-color: #020428;
  --accent-color: #e58924;
  --white-color: #fff;
  --bg-off-white: #f5f5f5;
  --red-color: #db4444;
  --primary-font: "League Spartan", sans-serif;
  --secondary-font: "Rubik", sans-serif;
  --profile-card-bg: #f5f5f5;
  --profile-card-icon-width: 38px;
  --profile-card-icon-height: 38px;
  --profile-card-icon-padding: 26px;
}
/* **************** Header Section ****************  */
/* Top Navigation Bar Styles */
.rsth1--top-bar {
  height: 55px;
  background-color: var(--primary-color);
  padding-top: 8px;
  padding-bottom: 8px;
}

.rsth1--top-bar .navbar-text {
  font-family: var(--primary-font);
  color: var(--white-color);
  font-size: 15px;
}

.rsth1--top-bar .navbar-text a {
  color: var(--white-color);
  font-size: 16px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-weight: 600;
}

.rsth1--top-nav-right {
  padding: 9px 0;
}

.rsth1--top-nav-item {
  padding: 0 24px;
}

.rsth1--top-nav-item-pr0 {
  gap: 16px;
  padding: 0 0 0 24px;
}

.rsth1--top-nav-item .dropdown-center button,
.rsth1--top-nav-item a {
  font-family: var(--primary-font);
  font-size: 15px;
}

.rsth1--top-nav-item i {
  font-size: 15px;
}

.rsth1--divider {
  border-left: 2px solid var(--white-color);
}

/* Primary Navigation Bar Styles */
.rsth1--primary-bar-wrapper {
  border-bottom: 1px solid #c0c0c0;
}

.rsth1--primary-bar .rsth1--primary-bar-row {
  background-color: var(--white-color) !important;
  padding: 32px 0 39px;
}

.main-nav-wrapper {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-nav-logo {
  flex-basis: 10%;
}
.rsth1--main-primary-ul {
  flex-basis: 45%;
}

.rsth1--primary-col-right {
  flex-basis: 45%;
  padding-left: 20px;
}

.rsth1--primary-bar .navbar-nav .nav-link {
  font-family: var(--primary-font);
  color: #020428;
  padding: 0;
}

.primary-navigation .active .nav-link {
  border-bottom: 2px solid #dc2b2a;
}

/* Search Form Styles */
.rsth1--primary-bar .rsth1--primary-col-right form {
  width: 300px;
  background-color: var(--bg-off-white);
  border-radius: 4px;
  border: none;
}

.rsth1--primary-bar .rsth1--primary-col-right .form-control {
  width: 100%;
  background-color: var(--bg-off-white);
  border: none;
}

.rsth1--primary-bar .rsth1--primary-col-right .form-control:focus {
  box-shadow: none;
}

/* Mega Menu Styles */
.navbar .megamenu {
  padding: 1rem;
}

.mega-menu-cols h5 {
  font-family: var(--secondary-font);
  color: var(--secondry-color);
  font-size: 16px;
  font-weight: 500;
}

.mega-menu-cols .mega-menu--list-items {
  font-family: var(--primary-font);
  color: var(--secondry-color);
  font-size: 16px;
  font-weight: 400;
}

.mega-menu-cols .mega-menu--list-items:hover {
  color: var(--primary-color);
  font-weight: 500;
}

@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: -50px;
  }
}

@media all and (max-width: 991px) {
  .navbar .megamenu {
    position: absolute !important;
  }
  .navbar .megamenu {
    left: -395%;
    top: 150px;
    width: max-content;
    margin-top: -50px;
  }

  .megamenu .mega-menu--row .mega-menu-cols {
    row-gap: 50px;
  }
}

.rsth1--primary-bar-row h5 {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  color: var(--secondry-color);
}

.mega-menu--list-items {
  border: none;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--secondry-color);
}

/* Mobile Menu Styles */
.rsth1--mob-menu {
  padding: 30px 0 40px;
}

.rsth1--mob-menu .rsth1--overlay-top {
  padding: 48px 20px;
}

.rsth1--mob-menu form {
  background-color: var(--bg-off-white);
  border: none;
  width: 100%;
  border-radius: 10px;
}

.rsth1--mob-menu .form-control {
  background-color: var(--bg-off-white);
  border: none;
}

.rsth1--mob-menu .rsth1--overlay {
  width: 0%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #020428;
  overflow-x: hidden;
  transition: 0.5s;
}

.rsth1--overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
}

.rsth1--mob-menu .rsth1--overlay a {
  text-decoration: none;
  color: var(--white-color);
  display: block;
  transition: 0.3s;
}

.rsth1--mob-menu .rsth1--overlay .dropdown-menu {
  text-align: center;
  background: transparent;
}

.rsth1--mob-menu .rsth1--overlay a:hover,
.rsth1--mob-menu .rsth1--overlay a:focus {
  color: #f1f1f1;
}

.rsth1--mob-menu .rsth1--overlay .closebtn {
  font-size: 50px;
}

.rsth1--mob-menu .rsth1--overlay-content .navbar-nav .nav-item {
  font-family: var(--primary-font);
  font-size: 20px;
}

/* Mini Cart and Wishlist Styles */
.rsth1--mini-cart,
.rsth1--mini-wishlist {
  width: 550px;
  position: absolute;
  z-index: 10;
  background-color: var(--white-color);
  top: 60px;
  right: 0;
  display: none;
  border-radius: 24px;
}

/* Mini Cart Cascading style sheet code */
.rsth1--mini-wishlist-content {
  padding: 40px;
  border-radius: 24px !important;
}

.mini-wishlist-title {
  margin-bottom: 40px !important;
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 500;
}

.mini-wishlist-items-list {
  margin-top: 32px;
  margin-bottom: 48px;
}

.mini-wishlist--item-details {
  border: 1px solid #bdbdbdb3;
  padding: 12px;
  border-radius: 14px;
}

.wishlist-item-img {
  width: max-content;
  padding: 11px 21px;
  background-color: #f5f5f5;
  border-radius: 11px;
}

.mini-wishlist-item-image {
  width: 50px;
  height: 60px;
}

.wishlist-items-info {
  width: 60%;
}

.item-price-dels {
  width: max-content;
}

.wishlist-items-info h6 {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
}

.wishlist-item-price p {
  font-size: 20px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-weight: 500;
}

.mini-wishlist-items-no p {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 500;
  line-height: auto;
}

/* Mini Cart Cascading style sheet code */
.rsth1--mini-cart-content {
  padding: 40px;
  border-radius: 24px !important;
}

.mini-cart-title {
  margin-bottom: 40px !important;
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 500;
}

.mini-cart-items-list {
  margin-top: 32px;
  margin-bottom: 48px;
}

.mini-cart--item-details {
  border: 1px solid #bdbdbdb3;
  padding: 12px;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cart-item-img {
  width: max-content;
  padding: 11px 21px;
  background-color: #f5f5f5;
  border-radius: 11px;
}

.mini-cart-item-image {
  width: 50px;
  height: 60px;
}

.cart-items-info {
  width: 60%;
}

.item-price-dels {
  width: max-content;
}

.cart-items-info h6 {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
}

.cart-item-quantity i,
.item-price-dels i {
  font-size: 10px;
  padding: 10px 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #9c9c9c33;
}

.item-price-dels i {
  font-size: 13px;
}

.mini-cart-items-no {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 500;
  line-height: auto;
}

.mini-cart-total h4 {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: auto;
}
.mini-cart--btns {
  margin-top: 40px;
}

.rsth1--mini-cart-btn-action {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 600;
  padding: 23px auto;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  transition: ease-in-out 0.5s;
}

.rsth1--mini-cart-btn-action:hover {
  color: white;
  background-color: var(--primary-color);
}

/* Responsive Styles */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}

@media screen and (max-height: 450px) {
  .rsth1--overlay a {
    font-size: 20px;
  }
  .rsth1--overlay .closebtn {
    font-size: 40px;
    right: 35px;
  }
}
/* **************** Header Section Ends ****************  */
/* ///////////////////////////////////////////////////////// Hero Section \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.rsth1-hero-section {
  /* padding:35px 0px 50px; */
  padding-top: 35px;
  padding-top: 35px;
}
.rsth1-hero-section .contact-banner {
  background-image: url("../images/contact-us/hero-section-bg.webp");
}

.rsth1-hero-section .profile-banner {
  background-image: url("../images/profile/profile-hero-banner.webp");
}

.rsth1-hero-section .account-details-banner {
  background-image: url("../images/account-details/account_details-hero-banner.webp");
}

.rsth1-hero-section .checkout-banner {
  background-image: url("../images/checkout/checkout-banner-bg.webp");
}

.rsth1-hero-section {
  padding-top: 35px;
  padding-bottom: 50px;
}

.rsth1-hero-section .row {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  padding-left: 84px;
  border-radius: 20px;
}

.rsth1-hero-section .hero-section h1 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
}

.rsth1-hero-section .hero-section .breadcrumbs a {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.rsth1-hero-section .hero-section .breadcrumbs a {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.rsth1-hero-section .hero-section .breadcrumbs span {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.theme--btn {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 600;
  padding: 23px auto;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 12px;
}

.theme--btn:hover {
  color: white;
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  background-color: var(--primary-color);
  transition: ease-in-out 0.5s;
}

/* ///////////////////////////////////////////////////////// Contact Page \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.rsth1-get-in-touch {
  padding-top: 50px;
  padding-bottom: 100px;
}

.rsth1-get-in-touch .content .get-in-touch {
  width: 43%;
  border-radius: 14px;
}

.rsth1-get-in-touch .content .contact-us-from {
  width: 52%;
  background-color: #f5f5f5;
  padding: 45px 55px;
  border-radius: 14px;
}

.rsth1-get-in-touch .info i {
  font-size: 15px;
  background-color: #3c7bf6;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.rsth1-get-in-touch .info span {
  font-size: 19px;
  font-weight: 400;
}

.contact-us-from form label {
  font-size: 18px;
  font-weight: 400;
  color: #020428;
}

.rsth1-get-in-touch .contact-us-from input[type="submit"] {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  transition: ease-in-out 0.75s;
}
.rsth1-get-in-touch .contact-us-from input[type="submit"]:hover {
  color: white;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  transition: ease-in-out 0.75s;
}

/*//////////////////////////////////////////////////////////Profile Page started\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.rsth1-profile-cards .card-content {
  background-color: var(--profile-card-bg);
  border-radius: 14px;
  padding: 40px 48px;
  gap: 40px;
}

.rsth1-profile-cards .card-content .card-icon {
  background-color: var(--primary-color);
  padding: var(--profile-card-icon-padding);
  border-radius: 20px;
}
.rsth1-profile-cards .card-content .card-icon img {
  width: var(--profile-card-icon-width);
  height: var(--profile-card-icon-height);
}
.rsth1-profile-cards .card-content .card-text .title {
  font-family: var(--secondary-font);
  font-size: 32px;
  font-weight: 500;
  line-height: 37px;
}
.rsth1-profile-cards .card-content .card-text .text {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.rsth1-profile-cards .card-content:hover {
  background-color: var(--primary-color);
}
.rsth1-profile-cards .card-content:hover .card-icon {
  background-color: white;
}

.rsth1-profile-cards .card-content:hover .card-icon img {
  filter: invert(55%) sepia(90%) saturate(2739%) hue-rotate(207deg)
    brightness(100%) contrast(94%);
}
.rsth1-profile-cards .card-content:hover .card-text .title {
  color: white;
}
.rsth1-profile-cards .card-content:hover .card-text .text {
  color: white;
}

/*////////////////////////////////////////////////////////// Account Detail Css \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.rsth1--account-details {
  padding-top: 50px;
  padding-bottom: 100px;
}

.account-details-content-wrapper {
  background-color: #f5f5f5;
  padding: 0px 100px 64px;
  border-radius: 14px;
}

.profile-img-content {
  top: -80px;
}
.profile-img-content .profile-img-edit-wrapper {
  top: 90px;
  right: 0px;
  background-color: var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
}
.profile-img-edit {
  vertical-align: baseline;
  width: 14px;
  height: 14px;
}

.account-details-content h4 {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 500;
  line-height: auto;
}

.account-details-content label {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: auto;
}

.eye-hide-seek {
  top: 10px;
  right: 20px;
}

.phoneno-by-country {
  border-radius: 5px;
}

.country-selection {
  width: 15%;
  border: none;
  border-radius: 0px;
}

.country-selection:focus {
  border: none;
  box-shadow: none;
}

.country-phoneno {
  border: none;
  border-radius: 0px;
}

.country-phoneno:focus {
  border: none;
  box-shadow: none;
}

.btn-update-pw {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 600;
  padding: 23px auto;
  background-color: var(--primary-color);
  color: white;
  border: 2px solid var(--primary-color);
  border-radius: 12px;
}

.btn-update-pw.disabled {
  font-family: var(--primary-font);
  font-size: 20px;
  background-color: #9dbdfa; /* Keep the same background color */
  color: white; /* Keep the same text color */
  border: 2px solid #9dbdfa;
  cursor: not-allowed; /* Indicate that the button is not clickable */
  opacity: 0.5; /* Slightly dim to show it's disabled */
}

.intl-tel-input,
.iti {
  width: 100%;
}

/*//////////////////////////////////////////////////////////checkout page\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
}

.progress-step {
  width: 33.33%;
  position: relative;
}

.progress-step .dot {
  height: 30px;
  width: 30px;
  background-color: #ddd;
  border: 2px solid #ddd;
  border-radius: 3px; /* For square border */
  display: inline-block;
  line-height: 26px;
  color: white;
  font-weight: bold;
  transform: rotate(45deg);
}
.progress-step .dot p {
  transform: rotate(-45deg);
}

.progress-step.active .dot,
.progress-step.completed .dot {
  background-color: #007bff; /* Bootstrap primary color */
  border-color: #007bff; /* Matching border with background */
}

.progress-step.completed .dot {
  content: "\2713"; /* Unicode tick symbol */
  transform: rotate(45deg);
  font-family: "FontAwesome", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.progress-step .label {
  margin-top: 5px;
  font-size: 14px;
  color: #6c757d;
}

.progress-line {
  position: absolute;
  height: 2px;
  background-color: transparent;
  width: 100%;
  top: 15px;
  left: 0;
  z-index: -1;
  border-top: 2px dashed #ddd; /* Dashed line */
}

.progress-line-filled {
  background-color: #007bff; /* Bootstrap primary color */
  height: 2px;
  position: absolute;
  width: 0%;
  top: -1px;
  transition: width 0.3s ease;
  border-top: 2px solid #007bff; /* Solid line to fill over dashed */
}

.rsth1--checkout-steps h2 {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: var(--secondry-color);
}
.rsth1--checkout-steps label {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: var(--secondry-color);
}

.rsth1--order-sum-content {
  padding: 40px;
  border-radius: 24px !important;
  background-color: var(--bg-off-white);
}

.order-sum-title {
  margin-bottom: 40px !important;
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 500;
}

.order-sum-items-list {
  margin-top: 32px;
  margin-bottom: 48px;
}

.order-sum--item-details {
  padding: 12px;
  border-radius: 14px;
}

.order-sum-item-img {
  width: max-content;
  padding: 11px 21px;
  background-color: #f5f5f5;
  border-radius: 11px;
}

.order-sum-item-image {
  width: 50px;
  height: 60px;
}

.order-sum-items-info {
  width: 60%;
}

.item-price-dels {
  width: max-content;
}

.order-sum-items-info h6 {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
}

.order-sum-item-quantity i,
.item-price-dels i {
  font-size: 10px;
  padding: 10px 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #9c9c9c33;
}

.item-price-dels i {
  font-size: 13px;
}

.rsth1--order-sum-content .pricing-heading {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.210714px;
  color: #4D4D4D;
}

.order-sum-sub-total .subtotal{
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: var(--secondry-color);
} 

.order-sum-discount .discount{
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #DB4444;
}
.order-sum-total{
  border-top: 1px dashed #BDBDBD;
}

.order-sum-total h4 {
  font-family: var(--primary-font);
  font-size: 22px;
  font-weight: 600;
  line-height: auto;
}

.order-sum-shipping .shipping{
  font-family: var(--primary-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #3C7BF6;
}

.order-sum-coupon-code:focus{
  box-shadow: none;
}
.input-with-icon {
  position: relative;
}

.input-with-icon img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: auto;
}

.thank-you-content {
  background-color: #f5f5f5;
  border-radius: 16px;
  padding: 88px 64px;
}

/*//////////////////////////////////////////////////////////footer started\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.rsth1--footer {
  padding-top: 64px;

  background-color: #020428;
}
.rsth1--footer .row {
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d980;
}
.rsth1--footer .logo {
  width: 100%;
}
.rsth1--footer .footer-col-one {
  align-self: stretch;
  row-gap: 16px;
}
.rsth1--footer .footer-col-one .desc {
  font-size: 20px;
  color: rgb(238, 238, 238, 0.78);
  font-family: var(--primary-font);
  font-weight: 300;
}
.rsth1--footer .pay-methods {
  gap: 10px;
}
.rsth1--footer .pay-methods-container {
  border-radius: 8px;
  padding: 10px;
  background-color: #141637;
}
.rsth1--footer .pay-methods img {
  width: 36px;
  height: 27px;
  background-color: #141637;
}
.rsth1--footer .quick-links-col {
  padding-left: 100px;
  row-gap: 16px;
}

.rsth1--footer .col-title {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  color: #d6d6d6;
  font-weight: 500;
  text-decoration: none;
}
.rsth1--footer .footer-links {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 400;
  color: #bfc0c7;
  text-decoration: none;
}
.rsth1--footer .info-head {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 300;
  color: #bfc0c7;
  text-decoration: none;
}
.rsth1--footer .my-account-col {
  padding-left: 80px;
}

.rsth1--footer .contact-info-col {
  row-gap: 16px;
}
.rsth1--footer .fa-solid {
  width: 30px;
  height: 22px;
  color: #bdbdbd;
}
.rsth1--footer .contact-info-col .info span {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  color: #d6d6d6;
  font-weight: 400;
  text-decoration: none;
}
.rsth1--copyright {
  padding: 10px 100px;
  background-color: #020428;
}
.rsth1--copyright .copy-right {
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: 400;
  color: #a8a8b3;
  text-decoration: none;
}
.rsth1--copyright .copy-right a {
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: 600;

  color: #a8a8b3;
  text-decoration: none;
}

.rsth1--copyright .socail-links {
  background-color: #141637;
  padding: 8px 12px 8px 13px;
  border-radius: 8px;
}
.rsth1--copyright .fa-brands {
  width: 9px;
  height: 18px;
  color: #a8a8b3;
}

/* ///////////////////////////////////////////Queries for responsiveness\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width: 1200px) {
  .rsth1--top-bar .top-nav-items {
    padding: 0px 12px;
  }

  .rsth1--footer .quick-links-col {
    padding-left: 50px;
  }

  .rsth1--footer .my-account-col {
    padding-left: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .rsth1--top-nav-item {
    padding: 0 16px;
  }
}

@media (min-width: 678px) and (max-width: 991px) {
  .rsth1--top-bar .navbar-text {
    font-size: 12px;
  }

  .rsth1--top-bar .navbar-text a {
    font-size: 14px;
  }

  .rsth1--top-nav-item {
    padding: 0 5px;
  }

  .top-nav-items .dropdown-center button,
  a {
    font-size: 11px;
  }

  .top-nav-items i {
    font-size: 10px !important;
  }

  .rsth1--top-bar .top-nav-items {
    padding: 0px 0px 0px 10px;
  }
  .top-nav-items .dropdown-center button,
  a {
    padding: 0px 10px;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .main-nav-logo {
    flex-basis: 20%;
  }
  .rsth1--main-primary-ul {
    flex-basis: 80% !important;
  }

  .rsth1--primary-col-right {
    flex-basis: 100%;
    padding-top: 10px;
  }

  .rsth1-get-in-touch .content .get-in-touch {
    width: 100%;
  }

  .rsth1-get-in-touch .content .contact-us-from {
    width: 100%;
  }

  .rsth1--footer .quick-links-col {
    padding-left: 20px;
  }

  .rsth1--footer .my-account-col {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .rsth1--top-bar .row {
    padding: 8px 20px 8px;
  }

  .rsth1--primary-bar .row {
    padding: 32px 20px 39px;
  }

  .rsth1-hero-section {
    padding: 35px 20px 50px;
  }

  .rsth1-hero-section .row {
    background-position: 80% 50%;
    height: 390px;
    padding-left: 0px;
  }

  .rsth1-get-in-touch {
    padding: 50px 20px 100px;
  }

  .rsth1--footer {
    padding: 40px 20px;
  }

  .rsth1--footer .quick-links-col {
    padding-left: 0px;
  }

  .rsth1--footer .my-account-col {
    padding-left: 0px;
  }

  .rsth1--copyright {
    padding: 10px 20px;
  }
}

@media (max-width: 575px) {
  .rsth1-hero-section {
    padding: 35px 20px 50px;
  }

  .rsth1-hero-section .row {
    background-position: 80% 50%;
    height: 390px;
    padding-left: 0px;
  }

  .rsth1-get-in-touch {
    padding: 50px 20px 100px;
  }

  .rsth1--footer {
    padding: 40px 20px;
  }

  .rsth1--footer .quick-links-col {
    padding-left: 0px;
  }

  .rsth1--footer .my-account-col {
    padding-left: 0px;
  }

  .rsth1--copyright {
    padding: 10px 20px;
  }
}

@media (min-width: 768px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row !important;
  }
}

/* ---------------------------------------------- Noor Dev -------------------------------------------------- */

.f-size-20 {
  font-size: 20px;
}
.fs-14 {
  font-size: 14px;
}
.f-size-24 {
  font-size: 24px;
}
.f-size-15 {
  font-size: 15px;
}
.f-size-16 {
  font-size: 16px;
}
.f-size-10 {
  font-size: 10px;
}
.hero-slide-item {
  background-color: var(--secondry-color);
  border-radius: 28px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.hero-slide-item h2 {
  font-size: 48px;
  font-family: var(--secondary-font);
  color: var(--white-color);
}
.font-secondry {
  font-family: var(--secondary-font);
}
.font-primary {
  font-family: var(--primary-font);
}
.cursor-pointer {
  cursor: pointer;
}
.left-primary-border {
  border-left: 5px solid var(--primary-color);
  border-radius: 5px;
}
.cat-image-container {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background-color: #fafaff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.p-image-container {
  position: relative;
  background-color: var(--bg-off-white);
  border-radius: 14px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dicount-badge {
  position: absolute;
  top: 10px;
  left: 9px;
  background-color: var(--red-color);
  padding: 3px 12px;
  font-family: var(--secondary-font);
  font-size: 14px;
  color: var(--white-color);
  border-radius: 4px;
}
.wishlist-corner {
  position: absolute;
  top: 10px;
  right: 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: hidden;
}
.wishlist-corner img {
  cursor: pointer;
}
.add-to-cart {
  background-color: var(--primary-color);
  margin-top: -48px;
  z-index: 1;
  cursor: pointer;
  visibility: hidden;
}
.product-meta {
  padding: 20px 0px;
}
.product-card:hover .product-meta {
  background-color: var(--white-color);
  border-radius: 0 0px 14px 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 0px;
}
.product-card:hover .add-to-cart {
  visibility: visible;
}
.product-card:hover .wishlist-corner {
  visibility: visible;
}
.sale-price {
  color: var(--red-color);
  font-weight: 700;
  font-size: 25px;
}
.regular-price {
  text-decoration: line-through;
  color: gray;
}
.image-container {
  position: relative;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(2, 4, 40, 1), rgba(7, 14, 142, 0.2));
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 20px;
  height: 96%;
}

.image-container:hover .gradient-overlay {
  opacity: 1;
}

.gradient-overlay i {
  color: white;
  font-size: 40px;
}

.white-circle-bg {
  background-color: #ffffff1a;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-content-box {
  border-radius: 24px;
  background-color: var(--secondry-color);
}
.banner-content-box h4 {
  font-size: 30px;
}
.full-width-banner {
  background-color: #edf1ff;
  border-radius: 18px;
  padding: 50px 0px;
}
.banner-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 320px;
  height: 350px;
  border-radius: 12px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.banner-background-img {
  background-image: url(../images/banner_image_4.png);
}
.banner-background-img-1 {
  background-image: url(../images/banner_image_3.png);
}
.slick-slide .inner {
  margin: 0 15px;
}
.app-icons {
  width: 300px;
  background-color: var(--bg-off-white);
  border-radius: 14px;
}
/* Shop Page */
.rsth1-hero-section {
  padding-top: 35px;
  padding-top: 35px;
}
.rsth1-hero-section .shop-banner {
  background-image: url("../images/banner_image.png");
}
.rsth1-hero-section .row {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  padding-left: 84px;
  border-radius: 20px;
}
.rsth1-hero-section .hero-section h1 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.rsth1-hero-section .hero-section .breadcrumbs a {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}
.rsth1-hero-section .hero-section .breadcrumbs a {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}
.rsth1-hero-section .hero-section .breadcrumbs span {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .rsth1-hero-section .row {
    background-position: 80% 50%;
    height: 390px;
    padding-left: 0px;
  }
}
.rsth1-products-section .sort-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.rsth1-products-section .sort-label {
  margin-right: 10px;
  font-weight: 400;
}

.rsth1-products-section .result-count {
  font-weight: 400;
}

.rsth1-products-section .sort-select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: 18%;
  cursor: pointer;
}
.rsth1-products-section .filters-row {
  background-color: #f2f4f5;
}
.rsth1-products-section .sidebar-style {
  background-color: var(--bg-off-white);
}
.rsth1-products-section .pagination {
  background-color: var(--bg-off-white);
}
/* Custom styling for the price slider */
.price-slider {
  margin-top: 40px !important;
}
#priceSlider .noUi-handle {
  /* background-color: #007bff;
  border: 2px solid white;
  border-radius: 50%; */
}

#priceSlider .noUi-connect {
  background: #007bff;
}

.noUi-target {
  margin-top: 15px;
  margin-bottom: 15px;
}
.page-navigation nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 40px;
  padding: 10px;
  background-color: #f5f5f5;
}

.pagination {
  margin: 0;
}

.pagination .page-item {
  margin-right: 5px;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-inline label {
  margin-right: 8px;
  white-space: nowrap;
}

.btn-continue-shopping {
  margin-left: 15px;
}

.btn-continue-shopping .btn {
  white-space: nowrap;
}

.back-button {
  color: #cccccc !important;
  border: 2px solid #cccccc !important;
}

/* Responsive mobile devices */
@media (max-width: 768px) {
  .page-navigation nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .pagination .page-item {
    display: none;
  }

  .pagination .page-item:first-child,
  .pagination .page-item:nth-child(2),
  .pagination .page-item:nth-child(3),
  .pagination .page-item:nth-last-child(3),
  .pagination .page-item:nth-last-child(2),
  .pagination .page-item:last-child {
    display: block;
  }

  .form-inline {
    justify-content: center;
    margin-right: 10px;
  }

  .row {
    border: 0px solid #808080;
    padding: 10px;
  }

  .back-button,
  .next-button {
    display: flex;
    color: #cccccc !important;
    border: 2px solid #cccccc !important;
    font-size: 12px;
  }
}

/* Responsive tablet devices */
@media (max-width: 992px) {
  .page-navigation nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-inline {
    margin-left: 10px;
    justify-content: center;
  }
}
/* Shop Page End */
/* Single Product Page */
.product-gallery {
  display: flex;
  gap: 20px;
}

.product-thumbnails {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-thumbnails img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.product-main-image {
  width: 80%;
  background: var(--bg-off-white);
  padding: 40px;
  border-radius: 20px;
}
.product-main-image img {
  width: 100%;
}
.thumb-img {
  background-color: var(--bg-off-white);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}
.single-regular-price {
  font-weight: 700;
  font-size: 32px;
}
.single-sale-price {
  text-decoration: line-through;
  color: gray;
}
.product-nav-dots a {
  width: 2rem;
  height: 2rem;
  display: block;
  border-radius: 50%;
  border: 0.2rem solid #fff;
  margin-right: 0.5rem;
  transition: box-shadow 0.35s ease;
  background-repeat: no-repeat;
  background-position: center center;
}
.product-nav-dots a.active {
  box-shadow: 0 0 0 0.1rem #cccccc;
}
.product-qty-cart {
  background-color:var(--bg-off-white);
}
/* Single Product Page End */
/*  Cart Page */
.cart-table th,
.cart-table td {
  padding: 15px;
  text-align: left;
}
.cart-table th {
  color: #808080;
}
.cart-table tr {
  vertical-align: middle;
}
.qty-cart {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  width: 150px;
}
.qty-cart button {
  background-color: var(--bg-off-white);
  padding: 5px 10px !important;
  font-size: 16px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trash-icon {
  background-color: var(--bg-off-white);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.c-shopping {
  background-color: #f3f3f3;
  border: none;
  color: #000;
  padding: 10px 25px;
}
.clear-cart {
  background-color: transparent;
  border: var(--primary-color) 2px solid;
  color: var(--primary-color);
  padding: 10px 25px;
}
.cart-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: var(--bg-off-white);
  padding: 30px !important;
}

.card-title {
  margin-bottom: 16px;
}

.input-group .form-control {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.input-group .btn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cart-hr {
  border-top: 3px dashed #bdbdbd;
  margin-top: 16px;
  margin-bottom: 16px;
}

/*  Cart Page Ends*/
/* Single Blog Page */
.post-share-icons i {
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* blog start */
.rsth1-blog-section {
  margin-top: 30px;
}

.rsth1-blog-section .blog-sidebar {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  height: max-content;
}

.rsth1-blog-section .search-box {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.rsth1-blog-section .search-box input {
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  width: 100%;
}

.rsth1-blog-section .search-button {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.rsth1-blog-section .popular-tags-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rsth1-blog-section .popular-tags {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.rsth1-blog-section .tag-item {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
}

.rsth1-blog-section .recently-added-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rsth1-blog-section .recently-added-list {
  list-style: none;
  padding: 0;
}

.rsth1-blog-section .recently-added-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.rsth1-blog-section .recently-added-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.rsth1-blog-section .recently-added-content {
  flex-grow: 1;
}

.rsth1-blog-section .recently-added-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.rsth1-blog-section .calendar-icon {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #007bff;
}

.rsth1-blog-section .recently-added-date {
  font-size: 12px;
  color: #777;
  margin: 0px;
  padding-left: 10px;
}
/* Single Blog Page End*/
/* 404 Page Css */
.rsth1-404-error-section {
  padding: 5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rsth1-404-error-section img {
  max-width: 70%;
  align-items: center;
  height: auto;
}

.rsth1-404-error-section .btn {
  padding: 10px 70px 10px 70px;
  font-family: var(--secondary-font);
  transition: background-color 0.3s ease;
  width: max-content;
}

@media (max-width: 768px) {
  .rsth1-404-error-section img {
    max-width: 100%;
    align-items: center;
    height: auto;
  }
  .rsth1-404-error-section .btn {
    padding: 10px 40px 10px 40px;
    font-size: 10px;
    transition: background-color 0.3s ease;
    font-family: var(--secondary-font);
    width: max-content;
  }
}
/* 404 Page Css Ends */
/* 500 Page CSS  */
.rsth1-500-error-section {
  padding: 5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rsth1-500-error-section img {
  max-width: 70%;
  align-items: center;
  height: auto;
}

.rsth1-500-error-section .btn {
  padding: 10px 70px 10px 70px;
  font-family: var(--secondary-font);
  transition: background-color 0.3s ease;
  width: max-content;
}

@media (max-width: 768px) {
  .rsth1-500-error-section img {
    max-width: 100%;
    align-items: center;
    height: auto;
  }
  .rsth1-500-error-section .btn {
    padding: 10px 40px 10px 40px;
    font-size: 10px;
    transition: background-color 0.3s ease;
    font-family: var(--secondary-font);
    width: max-content;
  }
}
/* 500 Page CSS Ends */

/* Css For view product modal */
.quick-view-product-details{
  padding: 44px 80px;
}
.quick-product-thumbs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.quick-product-thumbs img{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
}

.quick-view-thumb-img {
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #DFDFDF;
}

.quick-product-main-image {
  width: 80%;
  background: var(--bg-off-white);
  padding: 40px;
  border-radius: 20px;
}
.quick-product-main-image img {
  width: 100%;
}
@media(min-width: 576px) {
  .modal-dialog {
      max-width: 1340px !important;
  }
}

.close-model{
  position: absolute;
  top: -20px;
  right: 0px;
   cursor: pointer ;
   font-size: 20px;
}

.quickview-img-selected{
  width:479px;
  height: 333px;
}
.quick-view-prod-brand{
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
}
.quick-view-review-stars{
  color: #FFAD33;
}
.quick-view-no-of-rating{
font-family: var(--primary-color);
color: var(--primary-color);
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.015em;
}
.quick-add-to-wishlist{
  border: 1px solid #db4444;
  background: rgba(219, 68, 68, 0.05);
  top: 44px;
  right: 80px;
  padding: 12px 13px;
  border-radius: 25px;
}
.quick-add-to-wishlist .fa-heart{
  color: #DB4444;
  font-size: 20px;
}
.quick-prod-title{
font-family: var(--secondary-font);
font-style: normal;
color:var(--secondry-color);
font-weight: 500;
font-size: 36px;
line-height: 72px;
letter-spacing: 0.005em;
}

.quick-view-prod-desc{
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: rgba(2, 4, 40, 0.88);
  opacity: 0.55;
}
.quick-view-qty-value{
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 23px !important;
  font-weight: 500 !important;
}
@media only screen and (max-width:1199px){
  .quick-view-product-details{
    padding: 40px 0px;
  }
  .quickview-img-selected{
    width:425px;
    height: 333px;
  }
  .quick-product-thumbs img{
    width: 60px;
    height: 60px;
  }
  .quick-view-thumb-img {
    padding: 15px;
  }
  .quick-view-prod-brand{
    font-size: 16px;
  }
  .quick-view-review-stars i{
    font-size: 12px;
  }
  .quick-view-no-of-rating{
    font-size: 14px;
    line-height: 20px;
    }
  .quick-add-to-wishlist{
    padding: 10px 11px;
    border-radius: 25px;
    right: 20px;
  }
  .quick-add-to-wishlist .fa-heart{
    font-size: 16px;
  }
  .quick-prod-title{
    font-size: 26px;
    line-height: 44px;
    }
    .quick-view-prod-desc{
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0px;
    }
    .quick-view-qty-value{
      font-size: 18px !important;
    }
}

@media only screen and (max-width:991px){
  .quick-view-product-details{
    padding: 40px 0px;
  }
  .quickview-img-selected{
    width:275.81px;
    height: 191.74;
  }
  .quick-product-thumbs img{
    width: 40px;
    height: 40px;
  }
  .quick-view-thumb-img {
    padding: 12px;
  }
  .quick-view-prod-brand{
    font-size: 14px;
  }
  .quick-add-to-wishlist{
    padding: 10px 10px;
    border-radius: 25px;
    top: 40px;
    right: -10px;
  }
  .quick-view-no-of-rating{
    font-size: 14px;
    line-height: 16px;
    }
  .quick-add-to-wishlist .fa-heart{
    font-size: 14px;
  }
  .quick-prod-title{
    font-size: 20px;
    line-height: 32px;
    }
    .quick-view-prod-desc{
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0px;
    }
    .quick-view-qty-value{
      font-size: 14px !important;
    }
}

@media only screen and (max-width:767px){
  .quick-view-product-details{
    padding: 50px 10px;
  }
  .quickview-img-selected{
    width:275px;
    height: 191.74;
  }
  .quick-view-thumb-img {
    border-radius: 8px;
    padding: 10px;
    margin:0px;
    border: 1px solid #DFDFDF;
  }
  .quick-product-thumbs img{
    width: 30px;
    height: 30px;
  }
  .quick-view-thumb-img {
    padding: 12px;
  }
  .quick-view-prod-brand{
    font-size: 14px;
  }
  .quick-add-to-wishlist{
    padding: 10px 10px;
    border-radius: 25px;
    top: 24px;
    right: 24px;
  }
  .quick-view-no-of-rating{
    font-size: 14px;
    line-height: 16px;
    }
  .quick-add-to-wishlist .fa-heart{
    font-size: 14px;
  }
  .quick-prod-title{
    font-size: 20px;
    line-height: 32px;
    }
    .quick-view-prod-desc{
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0px;
    }
    .quick-view-qty-value{
      font-size: 14px !important;
    }
}


@media only screen and (max-width:767px){
  .quick-view-product-details{
    padding: 70px 10px;
  }
  .quickview-img-selected{
    width:255px;
    height: 175px;
  }

}

