*{
    padding: 0;
    margin:0;
}

.rsth1--top-bar .row{
    height: 55px;
    background-color: #3C7BF6 !important;
    padding:8px 100px;
}

.rsth1--top-bar .navbar-text{
    color: white;
}

.rsth1--top-bar .navbar-text a{
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: 600;
}

.rsth1--top-bar .top-nav-right{
    padding: 9px 0px;
}

.rsth1--top-bar .top-nav-items{
    padding:0px 24px;
}

.rsth1--top-bar .top-nav-items-pr0{
    padding:0px 0px 0px 24px;
}

.rsth1--top-bar .divider{
    border-left: 2px solid white;
}

.rsth1--primary-bar .row{
    /* height: 130px; */
    background-color: #ffffff !important;
    padding:32px 100px 39px;
    border-bottom:1px solid #C0C0C0; 
}




