    @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
    * {
    padding: 0;
    margin: 0;
    }
    :root {
    --primary-color: #3c7bf6;
    --secondry-color: #020428;
    --accent-color: #e58924;
    --primary-font: "League Spartan", sans-serif;
    --secondary-font: "Rubik", sans-serif;
    }

    /* hero section  */
    .container-fluid {
        padding:35px 100px 50px 100px !important;
    }
        
    .rsth1-hero-section .row{
        background-image: url('/assets/images/order/hero.png');
        background-size: cover;
        background-position: center;    
        background-repeat: no-repeat;
        height: 400px;
        padding-left: 84px;
        border-radius: 20px;
    }
    
    .rsth1-hero-section .hero-section h1{
        font-family: "Rubik", sans-serif;
        font-size: 40px;
        line-height: 60px;
        font-weight: 600;
    }
    
    .rsth1-hero-section .hero-section .breadcrumbs a{
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }
    
    .rsth1-hero-section .hero-section .breadcrumbs a{
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }
    
    .rsth1-hero-section .hero-section .breadcrumbs span{
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }

    /* mobile responsive mobile devices */
    @media only screen and (max-width: 768px) {
        .container-fluid {
            padding:55px 35px 55px 35px !important;
        }

    .rsth1-hero-section .row {
        background-image: url('/assets/images/order/hero.png');
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        height: 400px; 
        padding-left: 20px;  
        border-radius: 20px;
    }
    
    .rsth1-hero-section .hero-section h1 {
        font-size: 24px; 
        line-height: 36px; 
    }
    
    .rsth1-hero-section .hero-section .breadcrumbs a {
        font-size: 14px; 
        line-height: 18px; 
    }
    
    .rsth1-hero-section .hero-section .breadcrumbs span {
        font-size: 14px; 
        line-height: 18px; 
    }
    }  
    /* hero section ended */

    /* TABLE SECTION */
    .rsth1-order-detail-bg {
        background-image: url('/assets/images/order-detail/process-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
    .rsth1-order-step-icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        font-size: 24px;
        line-height: 60px;
        margin: 0 auto;
        padding: 0; 
    }
    .rsth1-order-step-icon.rsth1-order-step-icon-active {
        background-image: url('/assets/images/order-detail/box-bg.png'); 
    }

    .rsth1-order-step-icon-2 {
        background-image: url('/assets/images/order-detail/box-bg.png'); 
        color: #fff;
    }

    .rsth1-order-step-icon-3 {
        background-image: url('/assets/images/order-detail/box-bg-white.png'); 
        color: #020428;
        background-size: contain;
    }

    .rsth1-order-step-icon-4 {
        background-image: url('/assets/images/order-detail/box-bg-white.png'); 
        color: #020428;
        background-size: contain;  
    }

        .rsth1-order-detail-section .table-border{
            border: 1px solid #E6E6E6 !important;
            border-radius: 10px;
            padding: 10px;
        }

    .rsth1-order-detail-section .custom-thead th {
        background-color: #F5F5F5 !important;
        color: #808080 !important;
        font-family: var(--secondary-font);
        font-size: 14px;
        font-weight: 500;
    }

    .rsth1-order-detail-section .custom-spaceing{
        margin-right: 50px;
    }

    .rsth1-order-detail-section .mb-3 .font-weight-semibold {
        font-weight: 700;
        color: #3C7BF6 !important; 
        
    }

    .rsth1-order-detail-section .text-right{
        text-align: end;
        margin-bottom: 20px;
    }
    /* Making it responsive using Bootstrap */
    @media (max-width: 576px) {
        .order-detail-section-backgound {
            flex-direction: column;
        }
        
        .rsth1-order-step {
            margin-bottom: 15px;
        }
        .rsth1-order-detail-bg {
            background-image: url('/assets/images/order-detail/');
            background-position: center;
            background-repeat: no-repeat;
        }
    }